<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User reciived</title>
</head>
<body>
    <div>
		<h2 style="color:aquamarine">Hello you have {{.Balance}}$!</h2>
		<p style="color:lightcoral">Your ID: <b>{{.ID}}</b></p>
    </div>
    <a href="/">Home</a>
    <input type="hidden" name="userId-input"
        value='{{.ID}}'/>
    <script>        
        const userId = document.querySelector('INPUT[name="userId-input"]')
        localStorage.setItem("userId", userId.value)        
    </script>
</body>
</html>